table {
	border: 1px solid rgb(0 175 255);
	border-radius: 7px;
	padding: 0.5em;
}

thead {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

th {
	padding-bottom: 0.5em;
}

td {
	padding-left: 0.25em;
}

tr.checking > th {
	color: #19699e;
}
tr.checking > td {
	color: #19699e;
}

tr.unknown > th {
	color: #3e8ec2;
}
tr.unknown > td {
	color: #3e8ec2;
}

tr.cannot > th {
	color: #e07575;
}
tr.cannot > td {
	color: #e07575;
}
