table {
	border: 1px solid rgb(0 175 255);
	border-radius: 7px;
	padding: 0.5em;
}

thead {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

th {
	padding-bottom: 0.5em;
}

td {
	padding-left: 0.25em;
}
